@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@*<div class="card-columns">
        @foreach (var item in Model.Books)
        {
            <a asp-page="Book_Page" asp-route-id="@item.Id" class="openmodal text-dark">
                <div class="card">
                    @if (item.Cover != null)
                    {
                        <img class="card-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Cover))">
                    }
                    else
                    {
                        <img class="card-img" src="~/Images/no_image.png">
                    }
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4 class="font-weight-bold">@item.Name</h4>
                            @if (item.Author != null)
                            {
                        <h6>by @item.Author.FirstName @item.Author.LastName</h6>
                            }
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>*@

<div id="modDialog" class="modal fade">

</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Books)
        {
            <div class="col-md-4">
                <a asp-page="Book_Page" asp-route-id="@item.Id" class="openmodal">
                    <div class="profile-card-2">
                        @if (item.Cover != null)
                        {
                            <img class="img img-responsive" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Cover))">
                        }
                        else
                        {
                            <img class="img img-responsive" src="~/Images/no_image.png">
                        }
                        <div class="profile-name">@item.Name</div>
                        <div class="profile-username">
                            @if (item.Author != null)
                            {
                                <h6>by @item.Author.FirstName @item.Author.LastName</h6>
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
